h1{
    font-family: 'Rubik Mono One';
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 100px;
}
h2{
    font-family: 'Rubik Mono One';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 26px;
}
p{
    font-family: 'Noto Serif Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
  }
p.white_adress{
    position: absolute;
    width: 332px;
    height: 26px;
    left: 131px;
    top: 478px;
    color: #FFFFFF;
}
blockquote{
    font-family: 'Rubik Mono One';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}
div.round_house_white{
    position: absolute;
    width: 925px;
    height: 332px;
    left: 131px;
    top: 116px; 
}

.CTA{
    font-family: Orator Std;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #0B22F2;
}
.contacts{
    font-family: PT Sans Caption;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 39px;
}
.text{
    font-family: Orator Std;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
#RADAR{
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    color: #FFFFFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0B22F2;
   }
#RESEARCH{
    font-family: Orator Std;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}
@font-face {
    font-family: 'Open Sans Hebrew';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Light.eot);
    src: url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Light.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Light.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Light.woff) format('woff'),
         url(//fonts.gstatic.com/ea/opensanshebrew/v3/OpenSansHebrew-Light.ttf) format('truetype');
  }
  /*не нашла шрифт, чтобы скачать, но он был установлен в фигме (и вроде бы это значит, что это гугл-шрифт), но автоматически не вставал (в отличие от шрифта Orator) и в гугл-поиске не находился. Вот нашла такой способ */ 
  @font-face {
    font-family: 'PT Sans Caption';
    src: url('PTSans-Caption.eot');
    src: local('PT Sans Caption'), local('PTSans-Caption'),
        url('PTSans-Caption.eot?#iefix') format('embedded-opentype'),
        url('PTSans-Caption.woff2') format('woff2'),
        url('PTSans-Caption.woff') format('woff'),
        url('PTSans-Caption.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  @font-face {
    font-family: 'Noto Serif Regular';
    src: url('NotoSerif.eot');
    src: url('NotoSerif.eot?#iefix') format('embedded-opentype'),
    url('NotoSerif.woff') format('woff'),
    url('NotoSerif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik Mono One';
    src: url('RubikMonoOne-Regular.eot');
    src: local('Rubik Mono One Regular'), local('RubikMonoOne-Regular'),
        url('RubikMonoOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('RubikMonoOne-Regular.woff') format('woff'),
        url('RubikMonoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}